<template>
  
  <div class="container">
    <div class="row justify-content-center pt-4">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header2">Register</div> 
          <div class="card-body">

            <div class="form-group row"><label for="email" class="col-md-4 col-form-label text-md-right">Name:</label> <div class="col-md-6">
              <input id="name" type="name" name="name" value="" required="required" class="form-control ">
              </div>
              </div>

              <div class="form-group row"><label for="email" class="col-md-4 col-form-label text-md-right">Email:</label> <div class="col-md-6">
              <input id="email" type="email" name="email" value="" required="required" class="form-control ">
              </div>
              </div>

              <div class="form-group row"><label for="age" class="col-md-4 col-form-label text-md-right">Age:</label> <div class="col-md-6">
              <input id="age" type="number" name="age" value="" required="required" class="form-control ">
              </div>
              </div>


              <div class="form-group row"><label for="password" class="col-md-4 col-form-label text-md-right">Password:</label> <div class="col-md-6">
              <input id="password" type="password" name="password" value="" required="required" class="form-control ">
              </div>
              </div>

              <div class="form-group row">
              <label for="password" class="col-md-4 col-form-label text-md-right">Confirm Password:</label> 
              <div class="col-md-6">
              <input id="cpassword" type="password" name="cpassword" value="" required="required" class="form-control ">
              </div>
              </div>

              <div class="form-group row">
              <label for="province" class="col-md-4 col-form-label text-md-right">Province:</label> 
              <div class="col-md-6">
              <select id="province" type="province" name="province" value="" required="required" class="form-control ">
                 <option value="0">Select an option</option>
                <option value="ON">ON</option>
                <option value="QC">QC</option>
                <option value="NS">NS</option>
                <option value="NB">NB</option>
                <option value="MB">MB</option>
                <option value="BC">BC</option>
                <option value="PE">PE</option>
                <option value="SK">SK</option>
                <option value="AB">AB</option>
                <option value="NL">NL</option>  
              </select>
              </div>
              </div>
              <div class="form-group form-check row"><div class="col-md-12 text-center"><input type="checkbox" id="exampleCheck1" name="tpolicy" class="form-check-input"> 
              <label for="exampleCheck1" class="form-check-label"> I accept the Terms of use, conditions and 
       Privacy policy </label></div></div>

       <div class="form-group row mb-2"> <div class="col-md-6 offset-md-4"><button type="submit" class="btn btn-primary">
                                    Register
                                </button> 
                              </div></div>


          </div>
        </div>
      </div>
    </div>  
  </div>
  
</template>

<script>
export default {
  name: 'RegisterForm',
 
}
</script>

<style scoped>
.card-header2{
  background-color:#126e51 !important;
  color:#fff;

}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary:active,
.btn-primary {
    color: #fff;
    background-color: #126e51 !important;
    border-color: #585858 !important;
}
 
</style>

//