<template>
  <vue-registerForm />
</template>

<script>
import RegisterForm from './components/RegisterForm.vue'

export default {
  name: 'App',
  components: {
    'vue-registerForm':RegisterForm
  }
}
</script>